name: Build IGA-Python Jupyter Book

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  deploy-book:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4

    - name: Install GCC and OpenMPI
      uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: gfortran openmpi-bin libopenmpi-dev libhdf5-openmpi-dev
        version: 1.0
        execute_install_scripts: true

    # When loading cached apt packages, the default MPI compiler isn't set.
    # Workaround is to 'reinstall' openmpi-bin, which doesn't actually perform
    # installation (since openmpi-bin already exists), but instead reruns
    # `update-alternatives` which fixes the symlinks to mpicc/mpif90.
    - name: Set default MPI and HDF5 C compilers
      run: |
        sudo apt-get update
        sudo apt-get install --reinstall openmpi-bin libhdf5-openmpi-dev

    - name: Install Jupyter Book and Psydac
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Build Jupyter Book
      run: jupyter-book build .

    - name: Deploy to GitHub Pages
      if: github.ref == 'refs/heads/master'
      run: ghp-import -n -p -f _build/html
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}